.audioPulse {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 24px;
  padding: 0 8px;

  > div {
    width: 3px;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 2px;
    transition: height 0.2s ease-in-out, opacity 0.3s ease;
    will-change: height;

    @keyframes pulse {
      0% {
        opacity: 0.3;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.3;
      }
    }
  }

  &.active > div {
    animation: pulse 2s infinite;
    background-color: var(--color-primary);
  }

  &.hover > div {
    animation: none;
    opacity: 0.5;
  }
}
